<div class="bg-image"><style>

    .bg-image{
	background: url("https://res.cloudinary.com/actionfdfds/image/upload/v1620603068/background_gyqjms.png") 50% no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}</style>
</div>