{{!-- greeting --}}

<footer class="page-footer bg-dark">
  <div class="container-fluid text-white">

    
    <div class="text-white text-center footerhead mt-2 pt-4 "><strong>MEET THE CREATORS!</strong> </div>
   
    {{!-- cards for creators --}}
    {{!-- Janarthani Subbramaniam card --}}
    <div class="creators row d-flex center-text justify-content-evenly flex-wrap text-white">
      <div class="col-md-3">
        <div style="min-width:18rem;" class="justify-content-center">
          <div class=" font-weight-bold name col pt-2 mt-3"> Janarthani Subbramaniam </div>
          <img src="https://res.cloudinary.com/actionfdfds/image/upload/v1621199002/jana_kay9hc.png" class="profile-pic"
            alt="Jana in blue shirt" class="img-thumbnail">
          <div class="d-flex justify-content-center mt-3">
            <a href="https://www.linkedin.com/in/janarthani-v-s/" target="_blank" class='github'><i
                class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
          </div>
          <div class="d-flex justify-content-center"><a href="https://github.com/vsjanarthani" target="_blank"
              class='github'><i class="fa fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>


      {{!-- Megan Close card--}}
      <div class="col-md-3">
        <div style="min-width:18rem;" class="justify-content-center">
          <div class=" font-weight-bold name col pt-2 mt-3"> Megan Close </div>
          <img src="https://res.cloudinary.com/actionfdfds/image/upload/v1621199001/megan_eyu5gz.png"
            alt="Megan in green shirt" class="profile-pic">
          <div class="d-flex justify-content-center mt-3">
            <a href="https://www.linkedin.com/in/megan-close-077b921bb/" target="_blank" class='github'><i
                class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
          </div>
          <div class="d-flex justify-content-center"> <a href="https://github.com/MeganClo" target="_blank"
              class='github'><i class="fa fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
      {{!-- Sarah Durkin card --}}
      <div class="col-md-3">
        <div style="min-width:18rem;" class="justify-content-center">
          <div class=" font-weight-bold name col pt-2 mt-3"> Sarah Durkin </div>
          <img src="https://res.cloudinary.com/actionfdfds/image/upload/v1621199001/sarah_nmnhh1.png"
            alt="Sarah in black shirt" class="profile-pic">
          <div class="d-flex justify-content-center mt-3">
            <a href="https://www.linkedin.com/in/sarahdurks/" target="_blank" class="github"><i
                class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
          </div>
          <div class="d-flex justify-content-center"><a href="https://github.com/sarahdurks" target="_blank"
              class="github"><i class="fa fa-github"></i> GitHub</a></div>
        </div>

      </div>
      {{!-- Yevgeniya Terlyuk card --}}
      <div class="col-md-3">
        <div style="min-width:18rem;" class="justify-content-center">
          <div class="font-weight-bold name col pt-2 mt-3"> Yevgeniya Terlyuk </div>
          <img src="https://res.cloudinary.com/actionfdfds/image/upload/v1621198409/yev_oeikgi.png"
            alt="Yev in blue shirt" class="profile-pic">
          <div class="d-flex justify-content-center mt-3">
            <a href="https://www.linkedin.com/in/yevgeniya-terluyk-034013179/" target="_blank" class='github'><i
                class="fa fa-linkedin fa-fw"></i>LinkedIn </a>
          </div>
          <div class="d-flex justify-content-center"><a href="https://github.com/down-dive" target="_blank"
              class='github'><i class="fa fa-github"></i> GitHub </a></div>
        </div>
      </div>
    </div>
  </div>
  {{!-- images for logos --}}
  <div class="logos text-center mt-4 mb-2" style="background-color: rgba(0, 0, 0, 0.2);">
    {{!-- Sequelize--}}
    <span data-tooltip="Sequelize">
      <a href="https://sequelize.org/" target="_blank"> <img
          src="https://res.cloudinary.com/actionfdfds/image/upload/v1621194715/logos/sequelize_irryet.png"
          alt="sequilize logo" class="logo"></a></span>
    {{!-- Node JS--}}
    <span data-tooltip="Node">
      <a href="https://nodejs.org/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/node_nwejyr.png" alt="node logo"
          class="logo"></a></span>
    {{!-- PokeAPI--}}
    <span data-tooltip="PokeAPI">
      <a href="https://pokeapi.co/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/pokeAPI_qt1d0a.png" alt="poke API logo"
          class="logo"></a></span>

    {{!-- Bootstrap --}}
    <span data-tooltip="Bootstrap5">
      <a href=" https://getbootstrap.com/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194572/logos/bootstrap5_fc7dlj.png" alt="bootstrap logo"
          class="logo"></a></span>

    {{!-- Handlebars--}}
    <span data-tooltip="Handlebars">
      <a href=" https://handlebarsjs.com/" target="_blank"> <img src="https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/handlebars_z9460o.png
      " alt="handlebars logo" class="logo"></a></span>
    {{!-- Heroku --}}
    <span data-tooltip="Heroku">
      <a href=" https://www.heroku.com/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/heroku_cpfyqu.png" alt="heroku logo"
          class="logo"></a></span>
    {{!-- Figma--}}
    <span data-tooltip="Figma">
      <a href="https://www.figma.com/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/figma_konjar.png" alt="figma logo"
          class="logo"></a></span>
    {{!-- Cloudinary--}}
    <span data-tooltip="Cloudinary">
      <a href="https://cloudinary.com/" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/cloudinary_jamcn5.png"
          alt="cloudinary logo" class="logo"></a></span>

    {{!-- tooltip --}}

    <span data-tooltip="[nodemon]">

      <a href="https://nodemon.io" target="_blank"> <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194571/logos/nodemon_f1iz0k.png" alt="nodemon logo"
          class="logo"></a></span>
    {{!-- Bcrypt--}}

    <span data-tooltip="bcrypt">
      <a href=" 
      https://www.npmjs.com/package/bcrypt" target="_blank"> <img
          src="https://res.cloudinary.com/actionfdfds/image/upload/v1621194572/logos/bcrypt_twp6gw.png"
          alt="bcrypt logo" class="logo"></a></span>
    {{!-- MySQL--}}

    <span data-tooltip="mySQL">
      <a href=" https://www.mysql.com" target="_blank">
        <img src="
      https://res.cloudinary.com/actionfdfds/image/upload/v1621194572/logos/mysql_yhcfci.png" alt="mySQL Logo"
          class="logo"></a></span>
  </div></span>
  {{!-- copyright text --}}

  <div class="github text-white text-center  pt-4 pb-4"> Copyright &copy; 2021 <span>MIT</span>
  </div>

</footer>