<header>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-4">
        <a href="#" class="navbar-brand">
            <!--logo in nav-->
            <img id="logoIcon" height="40"
                src="https://res.cloudinary.com/actionfdfds/image/upload/v1621019080/Frame_129_egg2pk.png">
            Pokémon Draft
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-evenly" id="navbarCollapse1">
            {{#if loggedIn}}
            <div class="navbar-nav">
                <a href="team" class="nav-item nav-link">My Team</a>
                <a href="/draftpage" class="nav-item nav-link">Draft Page</a>
                <button type="submit" id="logout" class="btn btn-outline-light nav-item nav-link">Logout</button>
            </div>

            {{/if}}
        </div>
    </nav>

</header>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}