
<!--logo selector for team page-->
<div>
<select id="logopick" title="Select your logo" class="selectpicker">
  <option value="">Pick a Logo...</option>
  <option value="Geodude" data-thumbnail="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png">Geodude Logo</option>
  <option value="Evvee" data-thumbnail="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png">Evvee Logo</option>
  <option value="Titans" data-thumbnail="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png">Titans Logo</option>
  <option value="Snorlax" data-thumbnail="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png">Snorlax Logo</option>
</select>
</div>
