<!--logo selector for team page-->

<div class="input-group mb-3">
  <select class="custom-select" id="team-logo">
    <option selected>Pick a logo..</option>
    <option value="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png"
      data-thumbnail="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png">
      Geodude Logo</option>
    <option value="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png"
      data-thumbnail="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png">
      Evvee Logo</option>
    <option value="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png"
      data-thumbnail="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png">
      Titans Logo</option>
    <option value="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png"
      data-thumbnail="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png">
      Snorlax Logo</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="team-logo">Select</label>
  </div>
</div>