<div>
<select title="Select your logo" class="selectpicker">
  <option>Select...</option>
  <option data-thumbnail="https://user-images.githubusercontent.com/77648727/117613064-1cc77880-b11b-11eb-811b-983a7dec956e.png">Logo 1</option>
  <option data-thumbnail="https://user-images.githubusercontent.com/77648727/117613068-1d600f00-b11b-11eb-915f-38ce55d97f42.png">Logo 2</option>

</select>
</div>