
<span class="border border-primary">
 <button  pokeTeamName() value="Generate Team Name" autofocus>Name My TEAM</button> --}}
<!--NEED TO SET UP AS 1 NAME SHOWS, SELECT AND ENTER DATABASE WITH POST API CALL-->
                    <ul id="pokeTeamShow"></ul>
                   </span>