<div class="card-team">
  <p id="instructions" class="text-light text-center">Let's start your team.</p>
  <div id="random-name-div" class="input-group mb-3">
    <h2 class="text-center mx-auto" id="random-name"></h2>
  </div>
  <p class="text-light text-center">Generate team name ideas below.</p>
  <button class="btn btn-dark btn-block mt-4 p-2" id="pokeTeamNaming">Name my Team</button>
</div>