<div class="card-team d-flex flex-column justify-content-evenly mt-5">
  <p id="instructions" class="text-light text-center">Lets get started. First, pick a team name and logo to create a Team</p>
  <div id="random-name-div" class="input-group mb-3">
    <h2 class="text-center mx-auto" id="random-name"></h2>
  </div>
  <p class="text-light text-center">Generate team name ideas below.</p>
  <div class="d-flex justify-content-evenly mt-2 text-center flex-wrap">
  <button class="btn btn-dark mb-4 p-2" id="pokeTeamNaming">Generate New Name</button>
  </div>
</div>