
<div class="input-group mb-3">
  <select class="custom-select" id="team-name">
    <option selected>Pick a team name..</option>
    <option value="1"></option>
    <option value="Dragon Kings">Dragon Kings</option>
    <option value="Raikou Roars">Raikou Roars</option>
    <option value="Flygon Attackers">Flygon Attackers</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="team-name">Select</label>
  </div>
</div>