<div class="card card-team"> <p id="instructions" class="text-center plain">Let's start your team.</p>
<div class="input-group mb-3">
  <div>
    <h2 class="text-center" id="random-name"></h2>

  <p class="text-center">Press the button below for options.</p>
    <button class="btn btn-dark mt-4 p-2" id="pokeTeamNaming">Generate Team Name</button>
  </div>

</div>
