{{> header}}

<div class="d-flex justify-content-evenly mt-5">

    <button id="draft-team" type="button" class="btn btn-dark ms-4 p-4">Draft Team</button>
     <button id="draft-clear" type="button" class="btn btn-dark ms-4 p-4">Clear Draft</button>

</div>

{{> pokemon-display}}

<script src="/javascript/draft-page.js"></script>