{{> header}}
<div class="container d-flex">
  <div class="row justify-content-center">
    <div class="row">
      <div class="choice btn-group no-wrap">
        <button id="draft-team" type="button" class="btn-danger btn-block">Save My Picks</button>
        <button id="draft-clear" type="button" class="btn-dark">Clear Draft Picks</button>
      </div>
    </div>
  </div>
</div>
{{> pokemon-display}}
<script src="/javascript/draft-page.js"></script>