
{{> header}}

<div class="d-flex justify-content-evenly mt-5">

    <button id="draft-team" type="button" class="btn-danger btn-block  mb-4 p-2">Draft Team</button>
    <button id="draft-clear" type="button" class="btn-dark btn-block mb-4 p-2">Clear Selection</button>

</div>

{{> pokemon-display}}

<script src="/javascript/draft-page.js"></script>