{{> background}}


<div class="container-fluid">
  <div class="position-absolute top-0 start-50"> <img id="heroHeadline"
      src="https://res.cloudinary.com/actionfdfds/image/upload/v1620603338/intrologo_khbj0h.png"></div>
  <form class="col-8 col-lg-3 position-absolute top-50 start-50 translate-middle p-10 m-10">
    <div>
      <p> Welcome to the <strong>Pokémon Draft!</strong> Sign up to join in on the fun. </p>
    </div>

    <!-- Username input -->
    <div class="form-group">
      <label class="form-label" for="form1Example1">User Name</label>
      <input type="email" id="form1Example1" class="form-control username-signup" />
    </div>

    <!-- Email input -->
    <div class="form-group">
      <label class="form-label" for="form1Example2">Email Address</label>
      <input type="email" id="form1Example2" class="form-control email-signup" />
    </div>


    <!-- Password input -->
    <div class="form-group">
      <label class="form-label" for="form1Example3">Password</label>
      <input type="password" id="form1Example3" class="form-control password-signup" />

    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button id="signupbtn" type="submit" class="btn btn-dark btn-block">Sign Up</button>
    </div>
  </form>
</div>
</div>
<footer>
  <p class="text-center">Meet the creators!</p>
<div class="container">
  <div class="row">
    <div class=" font-weight-bold name col">
      Janarthani Subbramaniam
    </div>
    <div class="font-weight-bold name col">
      Megan Close
    </div>
    <div class="font-weight-bold name col">
      Sarah Durkin
    </div>
    <div class="font-weight-bold name col">
      Yevgeniya Terlyuk
    </div>
  </div>
  <div class="row">
    <div class="col">
     <img src="./images/Jana.png" class="profile-pic" alt="Jana in blue shirt" class="img-thumbnail">
    </div>
    <div class="col">
     <img src="./images/Megan.png" alt="Megan in green shirt" class="profile-pic">
    </div>
    <div class="col">
     <img src="../images/Sarah.png" alt="Sarah in black shirt" class="profile-pic">
    </div>
    <div class="col">
     <img src="./images/Yev.png" alt="Yev in blue shirt" class="profile-pic">
    </div>
  </div>
  <div class="row">
    <div class="col">
     <a href="https://www.linkedin.com/in/janarthani-v-s/" title="LinkedIn" class="linkedin btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
    </div>
    <div class="col">
     <a href="https://www.linkedin.com/in/megan-close-077b921bb/" title="LinkedIn" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
    </div>
    <div class="col">
     <a href="https://www.linkedin.com/in/sarahdurks/" title="LinkedIn" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
    </div>
    <div class="col">
     <a href="https://www.linkedin.com/in/yevgeniya-terluyk-034013179/" title="LinkedIn" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
		<a href="https://github.com/vsjanarthani" class='github'><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col">
		<a href="https://github.com/MeganClo" class='github'><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col">
		<a href="https://github.com/sarahdurks" class='github'><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col">
		<a href="https://github.com/down-dive" class='github'><i class="fa fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

 <p class="text-center">What is inside!</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
 <p>Sequilize  Express SQL</p>
    </div>
    <div class="carousel-item">
 <p>ORM MVC</p>
    </div>
    <div class="carousel-item">
 <p>Node</p>
    </div>
  </div>
</div>
</footer>
<script src="/javascript/signup.js"></script>

<!-- TO DO: Properly center logo-->