<!-- Background image -->
<div class="bg-image">

<div class="container-fluid">
    <form class="col-4 position-absolute top-50 start-50 translate-middle border border-dark p-10 m-10">

        <!-- Username input -->
        <div class="form-outline m-4">
            <input type="email" id="form1Example1" class="form-control username-signup" />
            <label class="form-label" for="form1Example1">User Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline m-4">
            <input type="email" id="form1Example2" class="form-control email-signup" />
            <label class="form-label" for="form1Example2">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline m-4">
            <input type="password" id="form1Example3" class="form-control password-signup" />
            <label class="form-label" for="form1Example3">Password</label>
        </div>
        <!-- Submit button -->
        <div class="row m-4">
            <button id="signupbtn" type="submit" class="btn btn-dark btn-block mt-4 p-2">Sign Up</button>
        </div>
    </form>
</div>
</div>
<script src="/javascript/signup.js"></script>

{{!-- To do 1. Add the background image to the handlebars to prevent loading delays--}}