{{> background}}


<div class="container-fluid">
  <div class="position-absolute top-0 start-50"> <img id="heroHeadline"
      src="https://res.cloudinary.com/actionfdfds/image/upload/v1620603338/intrologo_khbj0h.png"></div>
  <form class="col-8 col-lg-3 position-absolute top-50 start-50 translate-middle p-10 m-10">
    <div>
      <p> Welcome to the <strong>Pokémon Draft!</strong> Sign up to join in on the fun. </p>
    </div>

    <!-- Username input -->
    <div class="form-group">
      <label class="form-label" for="form1Example1">User Name</label>
      <input type="email" id="form1Example1" class="form-control username-signup" />
    </div>

    <!-- Email input -->
    <div class="form-group">
      <label class="form-label" for="form1Example2">Email Address</label>
      <input type="email" id="form1Example2" class="form-control email-signup" />
    </div>


    <!-- Password input -->
    <div class="form-group">
      <label class="form-label" for="form1Example3">Password</label>
      <input type="password" id="form1Example3" class="form-control password-signup" />

    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button id="signupbtn" type="submit" class="btn btn-dark btn-block">Sign Up</button>
    </div>
  </form>
</div>
</div>
<footer>
  <p class="text-center">Meet the creators!</p>

  <div class=" creators container d-flex flex-wrap">
        <div class="col-md-3">
    <div style="width: 18rem;">
      <div class=" font-weight-bold name col">
        Janarthani Subbramaniam
      </div>
      <img src="./images/Jana.png" class="profile-pic" alt="Jana in blue shirt" class="img-thumbnail">
      <div class="card-body">
        <a href="https://www.linkedin.com/in/janarthani-v-s/" title="LinkedIn"
          class="linkedin btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
        <a href="https://github.com/vsjanarthani" class='github'><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
    </div>
            <div class="col-md-3">
    <div style="width: 18rem;">
      <div class=" font-weight-bold name col">
        Megan Close
      </div>
      <img src="./images/Megan.png" alt="Megan in green shirt" class="profile-pic">
      <div class="card-body">
        <a href="https://www.linkedin.com/in/megan-close-077b921bb/" title="LinkedIn" class="btn btn-linkedin btn-lg"><i
            class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
        <a href="https://github.com/MeganClo" class='github'><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
    </div>
     <div class="col-md-3">
    <div style="width: 18rem;">
      <div class=" font-weight-bold name col">
        Sarah Durkin
      </div>
      <img src="../images/Sarah.png" alt="Sarah in black shirt" class="profile-pic">
      <div class="card-body">
        <a href="https://www.linkedin.com/in/sarahdurks/" title="LinkedIn" class="btn btn-linkedin btn-lg"><i
            class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
        <a href="https://github.com/sarahdurks" class='github'><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
    </div>
         <div class="col-md-3">
    <div style="width: 18rem;">
      <div class=" font-weight-bold name col">
        Yevgeniya Terlyuk
      </div>
      <img src="./images/Yev.png" alt="Yev in blue shirt" class="profile-pic">
      <div class="card-body">
        <a href="https://www.linkedin.com/in/yevgeniya-terluyk-034013179/" title="LinkedIn"
          class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
        <a href="https://github.com/down-dive" class='github'><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
    </div>
  </div>

  <div class="logos text-center">
    <img src="./images/sequelize.svg" alt="sequilize logo" class="logo">
    <img src="./images/Node.svg.png" alt="node logo" class="logo">
    <img src="./images/pokeAPI.png" alt="poke API logo" class="logo">
    <img src="./images/Bootstrap_logo.svg" alt="bootstrap logo" class="logo">
    <img src="./images/handlebars.png" alt="handlebars logo" class="logo">
    <img src="./images/heroku.png" alt="heroku logo" class="logo">
    <img src="./images/image1.png" alt="image1 logo" class="logo">
    <img src="./images/image2.png" alt="image2 logo" class="logo">
    <img src="./images/image3.png" alt="image3 logo" class="logo">
    <img src="./images/image4.png" alt="image4 logo" class="logo">
    <img src="./images/image.png" alt="image logo" class="logo">
  </div>

</footer>
<script src="/javascript/signup.js"></script>

<!-- TO DO: Properly center logo-->