{{> background}}


<div class="container-fluid">
  <div class="position-absolute top-0 start-50"> <img id="heroHeadline"   src="https://res.cloudinary.com/actionfdfds/image/upload/v1620603338/intrologo_khbj0h.png"></div> 
    <form class="col-8 col-lg-3 position-absolute top-50 start-50 translate-middle p-10 m-10">
          <div><p> Welcome to the <strong>Pokémon Draft!</strong> Sign up and name your team to join in on the fun. </p></div>

        <!-- Username input -->
        <div class="form-group">
             <label class="form-label" for="form1Example1">User Name</label>
            <input type="email" id="form1Example1" class="form-control username-signup" />
        </div>

        <!-- Email input -->
        <div class="form-group">
            <label class="form-label" for="form1Example2">Email Address</label>
            <input type="email" id="form1Example2" class="form-control email-signup" />
        </div>
    

        <!-- Password input -->
        <div class="form-group">
            <label class="form-label" for="form1Example3">Password</label>
            <input type="password" id="form1Example3" class="form-control password-signup" />
            
        </div>
        
        <!-- Submit button -->
        <div class="form-group">
            <button id="signupbtn" type="submit" class="btn btn-dark btn-block">Sign Up</button>
              </div>
    </form>
</div>
</div>
<script src="/javascript/signup.js"></script>

<!-- TO DO: Properly center logo-->