.form-group {
	font-family: 'Poppins';
}
body {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	background-repeat: no-repeat;
}
#sliderscreen {	
	height: 100vh; 
	align-content: center !important;
}

.card-team {
	padding-top: 30px;

}
#darkmode {
	max-width: 60vw;
	padding-top: 5vh;
	
}
#listen
{
	min-height: 100vh;
}
#background-hack {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	background-repeat: no-repeat;
	height: 100vh;
}


	.form-label {
		font-family: 'Poppins';
		font-size: small;
		color: white;
		text-shadow: 1px 1px #2b2929;
		}
		#random-name {
			font-family: 'Staatliches';
			font-size: 2.4rem;
			flex-wrap: nowrap;
			color: white;
			margin-top: 2vh;
			text-align: center;
			

			
		}

#random-name-div {
	height: 15vh;
	justify-items: baseline;
	
}

		#namesaved {
			font-family: 'Staatliches';
			font-size: 2rem;
			
			
		}
#draftheader{
	font-weight: 800;
	text-align: center;
	font-family: 'Poppins';
	text-shadow: 3px 2px #2b2929;
}

#sign-up {
	font-family: 'Poppins';
	text-align: center;
	align-self: center;

}


.browse_text{
	font-family: 'Poppins';
}

#welcome {
	text-align: center;
}

#team-logo{
	height: 10vh;
	object-fit:scale-down;
}
	.text-light {
		text-shadow: 1px 1px #2b2929;
		font-family: 'Poppins';
	}

	#create-team {	max-width:800px;}
	
.carousel-container {
	position: relative;
	max-width:800px;
	align-content: center;
  }	
  .carousel-item img {
		object-fit: cover;
	object-fit:scale-down;
	max-height: 30vh;
  }
  #carousel-thumbs {
	background: rgba(255,255,255,.3);
	bottom: 0;
	left: 0;
	padding: 0 50px;
	position: absolute;
	right: 0;
  }
  #carousel-thumbs img {
	border: 5px solid transparent;
	cursor: pointer;
	
  }
  #carousel-thumbs img:hover {
	border-color: rgba(255,255,255,.3);
	border-radius: 100%;
  }
 
  #carousel-thumbs .selected img {
	border-color: rgb(239, 245, 243);
	border-width: 3px;
	border-radius: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
	height: 100px;
	width: 100px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	border: 1px solid black;
	background-image: none;
  }

.draft-header {

	height: 10vh;
	max-width: 10vh;
	position: absolute;
  	left: 0px;
  	top: 0px;
}

#draft-clear, #draft-team{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: medium;
	justify-self: auto;
	width: 300px;
}

.form-group {
	font-size: medium;
}

#heroHeadline {
	max-width: 10vh;
}
.navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: x-large !important;
	font-weight: 600;


}

body {
	font-size: medium;
}
.signupbtn{
	min-width: 50px !important;
	font-size: large !important;
}
.card-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: medium;
	align-self: center !important;
	width: 16rem;
}

	.btnDraft {
		color: #faf8f8;
		align-self: center;
		background-color: rgb(14,54,107);
		border-color:rgb(31, 4, 130);
		border-width: 1px;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;

		border-radius: 5px;
	  }
	  
	  .btnDraft:hover,
	  .btnDraft:active,
	  .btnDraft:focus,
	  .btnDraft.active {
		background-color: 
		rgb(14,54,107);		
		color: #ffffff;
		border-color:  rgb(14,54,107);
		
	  }




.card-img-top {
	width:40% !important;
	align-self: center;
	margin-top: 10px;
	width: 12rem;
}


.nav-item{
	font-family: 'Poppins', sans-serif;
	font-size: large;
	font-weight: 500;
}


.btn-outline-light
{	font-family: 'Poppins', sans-serif;
	font-size: large !important;
	font-weight: 500;
	margin-left: 10px;
}

#logoIcon {
	padding-left: 20px !important;
	max-width: 50px !important;
	max-height: 50px;
}
.bg-image {
	background-image: url('https://res.cloudinary.com/actionfdfds/image/upload/v1621014519/newbackground_bfbjoz.png');
	background: 50% no-repeat; 
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.progress {
    margin-bottom: 3px;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
	margin-left: 10px;
    margin-right: 10px;
	width: 16rem !important;
	align-items: center;
	border-radius: 10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}



.progress-title{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 20px !important;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}


.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

