
.draft-header {
	background-image: url("https://res.cloudinary.com/actionfdfds/image/upload/v1620603338/intrologo_khbj0h.png") 50% no-repeat;
	
	height: 10vh;
	max-width: 10vh;
	position: absolute;
  	left: 0px;
  	top: 0px;
}

#draft-clear, #draft-team{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: medium;
	justify-self: auto;
}

.form-group {
	font-size: medium;
}

#heroHeadline {
	max-width: 10vh;
}
.navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: x-large !important;
	font-weight: 600;


}

body {
	font-size: medium;
}
.signupbtn{
	min-width: 50px !important;
	font-size: large !important;
}
.card-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: medium;
	align-self: center !important;
}

	.btnDraft {
		color: #faf8f8;
		align-self: center;
		background-color: rgb(14,54,107);
		border-color:rgb(31, 4, 130);
		border-width: 1px;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;
		padding-left: 25px !important;
		padding-right: 25px!important;
		min-height: 25px;
		border-radius: 5px;
	  }
	  
	  .btnDraft:hover,
	  .btnDraft:active,
	  .btnDraft:focus,
	  .btnDraft.active {
		background-color: 
		rgb(14,54,107);		
		color: #ffffff;
		border-color:  rgb(14,54,107);
		
	  }




.card-img-top {
	width:50% !important;
	align-self: center;
	margin-top: 10px;
}


.nav-item{
	font-family: 'Poppins', sans-serif;
	font-size: large;
	font-weight: 500;
}


.btn-outline-light
{	font-family: 'Poppins', sans-serif;
	font-size: large !important;
	font-weight: 500;
	margin-left: 10px;
}

logoIcon {
	padding-left: 20px !important;
	max-width: 50px !important;
	max-height: 50px;
}
.bg-image{
	background: 50% no-repeat; 
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.progress {
    margin-bottom: 3px;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
	padding-left: 10px;
	align-items: center;
	padding-right:  10px;
	border-radius: 10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.progress-title{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 20px !important;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}


.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

.greeting {
	font-family: "Copperplate"
	/* "Lucida Console", "Courier New", monospace; */
  }

/* linkedin and github links style*/
a{
	color: #000000 !important;
	padding: .2rem 4rem !important; /* needs a fix for mobile*/
	margin-left: auto !important;
	margin-right: auto !important;
}

/* github logo size */
.github {
	font-size: x-large;
}

/* centering the names */
.name {
	text-align: center !important;
	margin-bottom: 1rem;
}
 
/* profile pictures style */
.profile-pic {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 150px; /* Set a small width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
  /* logo signs */
  .logo {
	width: 50px; /* Set a small width */
	margin-left: 1rem;
	margin-right: 1rem;
  }

.copyright {
	padding: 15px 0;
	background: #333;
	margin-top: 20px;
	font-size: 15px;
  }

@-webkit-keyframes animate-positive{
    0%{ width: 0; }}

